[data-theme="light"] {
  --bg-color: #ffffff;
  --text-color: black;
  --heading-color: black;
  --code-bg-color: lightgray;
  --code-color: #191919;
  --highlight-color: rgb(255, 149, 110);
}

/* Dark mode styles */
[data-theme="dark"] {
  --bg-color: #1f1c1c;
  --text-color: #ffffff;
  --heading-color: #dddddd;
  --code-bg-color: #191919;
  --code-color: #bed754;
  --highlight-color: rgb(166, 78, 46);
}

/* HomePage */
body {
  background-color: var(--bg-color);
}
.homepage__container {
  padding: 100px 30% 0 30%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.home__heading {
  color: var(--heading-color);
  font-size: xx-large;
  font-weight: bold;
}

.home__index {
  color: var(--text-color);
  padding-top: 20px;
  padding-left: 30px;
}

.index__link {
  display: list-item;
  list-style: lower-greek;
  color: var(--text-color);
  text-underline-offset: 2px;
  padding-bottom: 10px;
  font-size: large;
}

/* HomePage End */

/* Blog Start */
.blog__container {
  padding-top: 40px;
  padding-left: 10%;
  padding-right: 15%;
}

.blog__heading {
  color: var(--heading-color);
  font-size: xx-large;
  font-weight: 900;
}

.blog__subheading {
  color: var(--heading-color);
  font-size: larger;
  font-weight: 800;
}

.blog__text {
  color: var(--text-color);
  padding-top: 10px;
}

.blog__sider {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.blog__image {
  padding-top: 10px;
  max-width: 600px;
  max-height: 400px;
}

code {
  color: var(--code-color);
}

pre {
  background-color: var(--code-bg-color);
}

.code__snippet {
  font-weight: 400;
  text-wrap: wrap;
}

.highlight {
  background-color: var(--highlight-color);
  border-radius: 5px;
}

.blog__listitem {
  padding-top: 5px;
}

.button__container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.state__button {
  all: unset;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  color: var(--bg-color);
  font-weight: 800;
}

.increment {
  background: rgb(38, 163, 38);
}

.increment:hover {
  background: rgb(51, 209, 51);
}

.decrement {
  background: rgb(163, 38, 38);
}

.decrement:hover {
  background: rgb(209, 51, 51);
}
.reset {
  background: rgb(163, 92, 38);
}

.reset:hover {
  background: rgb(209, 135, 51);
}

/* Blog End */

/* Theme Slider */

.mode-switch label {
  display: inline-block;
  width: 40px;
  height: 20px;
  position: relative;
  margin-left: 10px;
}

.mode-switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 20px;
}

.mode-switch input:checked + .slider {
  background-color: #2196f3;
}

.mode-switch .slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

.mode-switch input:checked + .slider:before {
  transform: translateX(20px);
}

/* Theme Slider End */
